/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #7f849c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6c6f85;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5c5f77;
}

/* ================= */

::-moz-selection { /* Code for Firefox */
    color: #1e1e2e;
    background: #89b4fa;
}

::selection {
    color: #1e1e2e;
    background: #89b4fa;
}

/* Dividers */

.custom-shape-divider-bottom-1667246904 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667246904 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

/* .custom-shape-divider-bottom-1667246904 .shape-fill {
    fill: #FFFFFF;
} */

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1667246904 svg {
        width: calc(100% + 1.3px);
        height: 51px;
    }
}

/* ================================ */

.custom-shape-divider-bottom-1667247211 {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667247211 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

/* .custom-shape-divider-bottom-1667247211 .shape-fill {
    fill: #FFFFFF;
} */

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1667247211 svg {
        width: calc(100% + 1.3px);
        height: 51px;
    }
}

/* ================================ */

.custom-shape-divider-bottom-1667492912 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667492912 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 102px;
}

/* .custom-shape-divider-bottom-1667492912 .shape-fill {
    fill: #3B4252;
} */

/* ================================ */

/* .image_preview {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 1%, transparent 100%);
    background-image: url('../assets/SobreMim.svg');
} */

.center-justified {
    text-align: justify;
    text-align-last: center;
}

.center-last {
    text-align-last: center;
}

.bg_repeat_x_space {
    background-repeat: space no-repeat;
}


.flip-text {
    unicode-bidi: bidi-override;
    -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  transform: rotate(180deg);
  direction: rtl;
}







#theme-toggle {
    cursor: pointer;
    background: 0;
    border: 0;
    opacity: 0.8;
    padding: 4rem;
    border-radius: 50%;
    position: relative;
    isolation: isolate;
  }

  #theme-toggle svg {
    fill: var(--clr-foreground);
  }

  #theme-toggle::before {
    content: "";
    position: absolute;
    inset: 0;
    background: hsl(0 0% 50% / 0.2);
    border-radius: inherit;
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }

  .light-theme #theme-toggle::before {
    animation: pulseToLight 650ms ease-out;
  }

  .dark-theme #theme-toggle::before {
    animation: pulseToDark 650ms ease-out;
  }

  #theme-toggle::after {
    content: attr(aria-label);
    position: absolute;
    color: var(--clr-background);
    background: var(--clr-foreground);
    width: max-content;
    font-size: 1.5rem;
    left: 0;
    right: 0;
    top: 95%;
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 0.125em;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    transition: transform 0ms linear 100ms, opacity 100ms linear;
  }

  #theme-toggle:hover,
  #theme-toggle:focus {
    outline: 0;
    opacity: 1;
    background: hsl(0 0% 50% / 0.15);
  }

  #theme-toggle:hover::after,
  #theme-toggle:focus-visible::after {
    opacity: 0.7;
    transform: scale(1);
    transition: transform 70ms linear, opacity 70ms linear;
  }

  .toggle-circle {
    transition: transform 500ms ease-out;
  }

  .light-theme .toggle-circle {
    transform: translateX(-15%);
  }

  .toggle-sun {
    transform-origin: center center;
    transition: transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
  }

  .light-theme .toggle-sun {
    transform: rotate(0.5turn);
  }

  @keyframes pulseToLight {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }
    10% {
      transform: scale(1);
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  @keyframes pulseToDark {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }
    10% {
      transform: scale(1);
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
