@import url(./variables.css);
@import url(../imports/fonts.css);

/*
██████╗  █████╗ ███████╗███████╗
██╔══██╗██╔══██╗██╔════╝██╔════╝
██████╔╝███████║███████╗█████╗
██╔══██╗██╔══██║╚════██║██╔══╝
██████╔╝██║  ██║███████║███████╗
╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝
*/

* { margin: 0; padding: 0; }

/*
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ ███████╗       ██╗       ████████╗███████╗██╗  ██╗████████╗███████╗
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗██╔════╝       ██║       ╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝██╔════╝
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝███████╗    ████████╗       ██║   █████╗   ╚███╔╝    ██║   ███████╗
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗╚════██║    ██╔═██╔═╝       ██║   ██╔══╝   ██╔██╗    ██║   ╚════██║
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║███████║    ██████║         ██║   ███████╗██╔╝ ██╗   ██║   ███████║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝╚══════╝    ╚═════╝         ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
*/

.SubHeader01 { font-size: var(--SubHeader01); }
.SubHeader02 { font-size: var(--SubHeader02); }
.Header01 { font-size: var(--Header01); }
.Header02 { font-size: var(--Header02); }
.Header03 { font-size: var(--Header03); }
.Header04 { font-size: var(--Header04); }
.Header05 { font-size: var(--Header05); }

.Paragraph {font-size: var(--FontBaseSize);}
.SubText {font-size: var(--FontSubSize);}

.TextJustify {text-align: justify;}

.TextCenter {text-align: center;}

/*
██████╗  █████╗ ██████╗ ██████╗ ██╗███╗   ██╗ ██████╗        ██╗       ███╗   ███╗ █████╗ ██████╗  ██████╗ ██╗███╗   ██╗
██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝        ██║       ████╗ ████║██╔══██╗██╔══██╗██╔════╝ ██║████╗  ██║
██████╔╝███████║██║  ██║██║  ██║██║██╔██╗ ██║██║  ███╗    ████████╗    ██╔████╔██║███████║██████╔╝██║  ███╗██║██╔██╗ ██║
██╔═══╝ ██╔══██║██║  ██║██║  ██║██║██║╚██╗██║██║   ██║    ██╔═██╔═╝    ██║╚██╔╝██║██╔══██║██╔══██╗██║   ██║██║██║╚██╗██║
██║     ██║  ██║██████╔╝██████╔╝██║██║ ╚████║╚██████╔╝    ██████║      ██║ ╚═╝ ██║██║  ██║██║  ██║╚██████╔╝██║██║ ╚████║
╚═╝     ╚═╝  ╚═╝╚═════╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝     ╚═════╝      ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝
*/

.MarginAll01 { margin: var(--PaddingMarginBase01); }
.MarginAll02 { margin: var(--PaddingMarginBase02); }
.MarginAll03 { margin: var(--PaddingMarginBase03); }
.MarginAll04 { margin: var(--PaddingMarginBase04); }
.MarginAll05 { margin: var(--PaddingMarginBase05); }
.MarginAll06 { margin: var(--PaddingMarginBase06); }
.MarginAll07 { margin: var(--PaddingMarginBase07); }
.MarginAll08 { margin: var(--PaddingMarginBase08); }
.MarginAll09 { margin: var(--PaddingMarginBase09); }
.MarginAll10 { margin: var(--PaddingMarginBase10); }
.MarginAll11 { margin: var(--PaddingMarginBase11); }
.MarginAll12 { margin: var(--PaddingMarginBase12); }

.MarginLeft01 { margin-left: var(--PaddingMarginBase01); }
.MarginLeft02 { margin-left: var(--PaddingMarginBase02); }
.MarginLeft03 { margin-left: var(--PaddingMarginBase03); }
.MarginLeft04 { margin-left: var(--PaddingMarginBase04); }
.MarginLeft05 { margin-left: var(--PaddingMarginBase05); }
.MarginLeft06 { margin-left: var(--PaddingMarginBase06); }
.MarginLeft07 { margin-left: var(--PaddingMarginBase07); }
.MarginLeft08 { margin-left: var(--PaddingMarginBase08); }
.MarginLeft09 { margin-left: var(--PaddingMarginBase09); }
.MarginLeft10 { margin-left: var(--PaddingMarginBase10); }
.MarginLeft11 { margin-left: var(--PaddingMarginBase11); }
.MarginLeft12 { margin-left: var(--PaddingMarginBase12); }

.MarginRight01 { margin-right: var(--PaddingMarginBase01); }
.MarginRight02 { margin-right: var(--PaddingMarginBase02); }
.MarginRight03 { margin-right: var(--PaddingMarginBase03); }
.MarginRight04 { margin-right: var(--PaddingMarginBase04); }
.MarginRight05 { margin-right: var(--PaddingMarginBase05); }
.MarginRight06 { margin-right: var(--PaddingMarginBase06); }
.MarginRight07 { margin-right: var(--PaddingMarginBase07); }
.MarginRight08 { margin-right: var(--PaddingMarginBase08); }
.MarginRight09 { margin-right: var(--PaddingMarginBase09); }
.MarginRight10 { margin-right: var(--PaddingMarginBase10); }
.MarginRight11 { margin-right: var(--PaddingMarginBase11); }
.MarginRight12 { margin-right: var(--PaddingMarginBase12); }

.MarginTop01 { margin-top: var(--PaddingMarginBase01); }
.MarginTop02 { margin-top: var(--PaddingMarginBase02); }
.MarginTop03 { margin-top: var(--PaddingMarginBase03); }
.MarginTop04 { margin-top: var(--PaddingMarginBase04); }
.MarginTop05 { margin-top: var(--PaddingMarginBase05); }
.MarginTop06 { margin-top: var(--PaddingMarginBase06); }
.MarginTop07 { margin-top: var(--PaddingMarginBase07); }
.MarginTop08 { margin-top: var(--PaddingMarginBase08); }
.MarginTop09 { margin-top: var(--PaddingMarginBase09); }
.MarginTop10 { margin-top: var(--PaddingMarginBase10); }
.MarginTop11 { margin-top: var(--PaddingMarginBase11); }
.MarginTop12 { margin-top: var(--PaddingMarginBase12); }

.MarginBottom01 { margin-bottom: var(--PaddingMarginBase01); }
.MarginBottom02 { margin-bottom: var(--PaddingMarginBase02); }
.MarginBottom03 { margin-bottom: var(--PaddingMarginBase03); }
.MarginBottom04 { margin-bottom: var(--PaddingMarginBase04); }
.MarginBottom05 { margin-bottom: var(--PaddingMarginBase05); }
.MarginBottom06 { margin-bottom: var(--PaddingMarginBase06); }
.MarginBottom07 { margin-bottom: var(--PaddingMarginBase07); }
.MarginBottom08 { margin-bottom: var(--PaddingMarginBase08); }
.MarginBottom09 { margin-bottom: var(--PaddingMarginBase09); }
.MarginBottom10 { margin-bottom: var(--PaddingMarginBase10); }
.MarginBottom11 { margin-bottom: var(--PaddingMarginBase11); }
.MarginBottom12 { margin-bottom: var(--PaddingMarginBase12); }

.PaddingAll02 { padding: var(--PaddingMarginBase02); }
.PaddingAll03 { padding: var(--PaddingMarginBase03); }
.PaddingAll04 { padding: var(--PaddingMarginBase04); }
.PaddingAll01 { padding: var(--PaddingMarginBase01); }
.PaddingAll05 { padding: var(--PaddingMarginBase05); }
.PaddingAll06 { padding: var(--PaddingMarginBase06); }
.PaddingAll07 { padding: var(--PaddingMarginBase07); }
.PaddingAll08 { padding: var(--PaddingMarginBase08); }
.PaddingAll09 { padding: var(--PaddingMarginBase09); }
.PaddingAll10 { padding: var(--PaddingMarginBase10); }
.PaddingAll11 { padding: var(--PaddingMarginBase11); }
.PaddingAll12 { padding: var(--PaddingMarginBase12); }

.PaddingLeft01 { padding-left: var(--PaddingMarginBase01); }
.PaddingLeft02 { padding-left: var(--PaddingMarginBase02); }
.PaddingLeft03 { padding-left: var(--PaddingMarginBase03); }
.PaddingLeft04 { padding-left: var(--PaddingMarginBase04); }
.PaddingLeft05 { padding-left: var(--PaddingMarginBase05); }
.PaddingLeft06 { padding-left: var(--PaddingMarginBase06); }
.PaddingLeft07 { padding-left: var(--PaddingMarginBase07); }
.PaddingLeft08 { padding-left: var(--PaddingMarginBase08); }
.PaddingLeft09 { padding-left: var(--PaddingMarginBase09); }
.PaddingLeft10 { padding-left: var(--PaddingMarginBase10); }
.PaddingLeft11 { padding-left: var(--PaddingMarginBase11); }
.PaddingLeft12 { padding-left: var(--PaddingMarginBase12); }

.PaddingRight01 { padding-right: var(--PaddingMarginBase01); }
.PaddingRight02 { padding-right: var(--PaddingMarginBase02); }
.PaddingRight03 { padding-right: var(--PaddingMarginBase03); }
.PaddingRight04 { padding-right: var(--PaddingMarginBase04); }
.PaddingRight05 { padding-right: var(--PaddingMarginBase05); }
.PaddingRight06 { padding-right: var(--PaddingMarginBase06); }
.PaddingRight07 { padding-right: var(--PaddingMarginBase07); }
.PaddingRight08 { padding-right: var(--PaddingMarginBase08); }
.PaddingRight09 { padding-right: var(--PaddingMarginBase09); }
.PaddingRight10 { padding-right: var(--PaddingMarginBase10); }
.PaddingRight11 { padding-right: var(--PaddingMarginBase11); }
.PaddingRight12 { padding-right: var(--PaddingMarginBase12); }

.PaddingTop01 { padding-top: var(--PaddingMarginBase01); }
.PaddingTop02 { padding-top: var(--PaddingMarginBase02); }
.PaddingTop03 { padding-top: var(--PaddingMarginBase03); }
.PaddingTop04 { padding-top: var(--PaddingMarginBase04); }
.PaddingTop05 { padding-top: var(--PaddingMarginBase05); }
.PaddingTop06 { padding-top: var(--PaddingMarginBase06); }
.PaddingTop07 { padding-top: var(--PaddingMarginBase07); }
.PaddingTop08 { padding-top: var(--PaddingMarginBase08); }
.PaddingTop09 { padding-top: var(--PaddingMarginBase09); }
.PaddingTop10 { padding-top: var(--PaddingMarginBase10); }
.PaddingTop11 { padding-top: var(--PaddingMarginBase11); }
.PaddingTop12 { padding-top: var(--PaddingMarginBase12); }

.PaddingBottom01 { padding-bottom: var(--PaddingMarginBase01); }
.PaddingBottom02 { padding-bottom: var(--PaddingMarginBase02); }
.PaddingBottom03 { padding-bottom: var(--PaddingMarginBase03); }
.PaddingBottom04 { padding-bottom: var(--PaddingMarginBase04); }
.PaddingBottom05 { padding-bottom: var(--PaddingMarginBase05); }
.PaddingBottom06 { padding-bottom: var(--PaddingMarginBase06); }
.PaddingBottom07 { padding-bottom: var(--PaddingMarginBase07); }
.PaddingBottom08 { padding-bottom: var(--PaddingMarginBase08); }
.PaddingBottom09 { padding-bottom: var(--PaddingMarginBase09); }
.PaddingBottom10 { padding-bottom: var(--PaddingMarginBase10); }
.PaddingBottom11 { padding-bottom: var(--PaddingMarginBase11); }
.PaddingBottom12 { padding-bottom: var(--PaddingMarginBase12); }
